@page  
@model BankUI.Pages.Transactions.DetailsModel  

@{  
   // Задаване на заглавието на страницата  
   ViewData["Title"] = "Details";  
}  

<h1>Details</h1>  

<div>  
   <h4>Transaction</h4>  
   <hr />  
   <dl class="row">  
       <dt class="col-sm-2">  
           <!-- Показване на името на полето за акаунта -->  
           @Html.DisplayNameFor(model => model.Transaction.Account)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на идентификатора на акаунта -->  
           @Html.DisplayFor(model => model.Transaction.Account.Id)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на името на полето за сумата -->  
           @Html.DisplayNameFor(model => model.Transaction.Amount)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на сумата -->  
           @Html.DisplayFor(model => model.Transaction.Amount)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на името на полето за типа на транзакцията -->  
           @Html.DisplayNameFor(model => model.Transaction.TransactionType)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на типа на транзакцията -->  
           @Html.DisplayFor(model => model.Transaction.TransactionType)  
       </dd>  
   </dl>  
</div>  
<div>  
   <!-- Линк за редактиране на транзакцията -->  
   <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id">Edit</a> |  
   <!-- Линк за връщане към списъка с транзакции -->  
   <a asp-page="./Index">Back to List</a>  
</div>
