@page  
@model BankUI.Pages.Transactions.IndexModel  

@{  
   // Задаване на заглавие на страницата  
   ViewData["Title"] = "Транзакции";  
}  

<h1>Транзакции</h1>  

<p>  
   <!-- Линк за създаване на нова транзакция -->  
   <a asp-page="Create">Направете нова</a>  
</p>  
<table class="table">  
   <thead>  
       <tr>  
           <th>  
               <!-- Показване на името на колоната за акаунт -->  
               @Html.DisplayNameFor(model => model.Transaction[0].Account)  
           </th>  
           <th>  
               <!-- Показване на името на колоната за сума -->  
               @Html.DisplayNameFor(model => model.Transaction[0].Amount)  
           </th>  
           <th>  
               <!-- Показване на името на колоната за тип на транзакцията -->  
               @Html.DisplayNameFor(model => model.Transaction[0].TransactionType)  
           </th>  
           <th></th>  
       </tr>  
   </thead>  
   <tbody>  
       @foreach (var item in Model.Transaction) {  
           <tr>  
               <td>  
                   <!-- Показване на ID на акаунта -->  
                   @Html.DisplayFor(modelItem => item.Account.Id)  
               </td>  
               <td>  
                   <!-- Показване на сумата на транзакцията -->  
                   @Html.DisplayFor(modelItem => item.Amount)  
               </td>  
               <td>  
                   <!-- Показване на типа на транзакцията -->  
                   @Html.DisplayFor(modelItem => item.TransactionType)  
               </td>  
               <td>  
                   <!-- Линкове за редактиране, преглед на детайли и изтриване на транзакцията -->  
                   <a asp-page="./Edit" asp-route-id="@item.Id">Редактирай</a> |  
                   <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> |  
                   <a asp-page="./Delete" asp-route-id="@item.Id">Изтрий</a>  
               </td>  
           </tr>  
       }  
   </tbody>  
</table>
