@page  
@model BankUI.Pages.Customers.DeleteModel  

@{  
   // Задаване на заглавие на страницата  
   ViewData["Title"] = "Изтрий";  
}  

<h1>Изтрий</h1>  

<h3>Сигурен ли сте, че искате да изтриете това?</h3>  
<div>  
   <h4>Клиенти</h4>  
   <hr />  
   <dl class="row">  
       <dt class="col-sm-2">  
           <!-- Показване на името на клиента -->  
           @Html.DisplayNameFor(model => model.Customer.Name)  
       </dt>  
       <dd class="col-sm-10">  
           @Html.DisplayFor(model => model.Customer.Name)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на адреса на клиента -->  
           @Html.DisplayNameFor(model => model.Customer.Address)  
       </dt>  
       <dd class="col-sm-10">  
           @Html.DisplayFor(model => model.Customer.Address)  
       </dd>
       <dt class="col-sm-2">
           <!-- Показване на телефонния номер на клиента -->
           @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
       </dt>
       <dd class="col-sm-10">
           @Html.DisplayFor(model => model.Customer.PhoneNumber)
       </dd>
   </dl>  

   <form method="post">  
       <!-- Скрито поле за идентификатора на клиента -->  
       <input type="hidden" asp-for="Customer.Id" />  
       <!-- Бутон за изтриване на клиента -->  
       <input type="submit" value="Delete" class="btn btn-danger" /> |  
       <!-- Връзка за връщане към списъка с клиенти -->  
       <a asp-page="./Index">Back to List</a>  
   </form>  
</div>
