@page
@model BankUI.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Клиентела";
}

<h1>Клиентела</h1>

<p>
    <a asp-page="Create" class="btn btn-primary"> Добави ми нов клиент веднага</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Име на 1овечето
            </th>
            <th>
                Адреса му
            </th>
            <th>
               Тела му
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детайл</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Трий</a>
            </td>
        </tr>
}
    </tbody>
</table>
