@page  
@model BankUI.Pages.Loans.DeleteModel  

@{  
   // Задаване на заглавието на страницата  
   ViewData["Title"] = "Delete";  
}  

<h1>Delete</h1>  

<h3>Сигурни ли сте, че искате да изтриете това?</h3>  
<div>  
   <h4>Loan</h4>  
   <hr />  
   <dl class="row">  
       <dt class="col-sm-2">  
           <!-- Показване на името на клиента -->  
           @Html.DisplayNameFor(model => model.Loan.Customer)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на името на клиента -->  
           @Html.DisplayFor(model => model.Loan.Customer.Name)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на етикета за сумата на заема -->  
           @Html.DisplayNameFor(model => model.Loan.Amount)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на сумата на заема -->  
           @Html.DisplayFor(model => model.Loan.Amount)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на етикета за лихвата -->  
           @Html.DisplayNameFor(model => model.Loan.Interest)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на лихвата -->  
           @Html.DisplayFor(model => model.Loan.Interest)  
       </dd>  
       <dt class="col-sm-2">  
           <!-- Показване на етикета за срока на заема -->  
           @Html.DisplayNameFor(model => model.Loan.Term)  
       </dt>  
       <dd class="col-sm-10">  
           <!-- Показване на стойността на срока на заема -->  
           @Html.DisplayFor(model => model.Loan.Term)  
       </dd>  
   </dl>  

   <form method="post">  
       <!-- Скрито поле за идентификатора на заема -->  
       <input type="hidden" asp-for="Loan.Id" />  
       <!-- Бутон за изтриване -->  
       <input type="submit" value="Delete" class="btn btn-danger" /> |  
       <!-- Връзка за връщане към списъка -->  
       <a asp-page="./Index">Back to List</a>  
   </form>  
</div>
