@page  
@model BankUI.Pages.Accounts.DetailsModel  

@{  
  // Задаване на заглавие на страницата за раздела на браузъра  
  ViewData["Title"] = "Детайли";  
}  

<h1>Детайли</h1>  

<div>  
  <h4>Акаунт</h4>  
  <hr />  
  <dl class="row">  
      <dt class="col-sm-2">  
          <!-- Показване на етикета за свойството Balance -->  
          @Html.DisplayNameFor(model => model.Account.Balance)  
      </dt>  
      <dd class="col-sm-10">  
          <!-- Показване на стойността на свойството Balance -->  
          @Html.DisplayFor(model => model.Account.Balance)  
      </dd>  
      <dt class="col-sm-2">  
          <!-- Показване на етикета за свойството Customer -->  
          @Html.DisplayNameFor(model => model.Account.Customer)  
      </dt>  
      <dd class="col-sm-10">  
          <!-- Показване на адреса на клиента -->  
          @Html.DisplayFor(model => model.Account.Customer.Address)  
      </dd>  
  </dl>  
</div>  
<div>  
  <!-- Връзка към страницата за редактиране на текущия акаунт -->  
  <a asp-page="./Edit" asp-route-id="@Model.Account.Id">Редактиране</a> |  
  <!-- Връзка за връщане към списъка с акаунти -->  
  <a asp-page="./Index">Обратно към списъка</a>  
</div>
