@page
@model BankUI.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Сметки";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">
    <!-- Бутон за създаване на нова сметка -->
    <a asp-page="Create" class="btn btn-primary">Добави нова сметка</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <!-- Заглавия на колоните в таблицата -->
                <th>Баланс по сметката</th>
                <th>Клиент на сметката</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Accounts)
            {
                <tr>
                    <!-- Показване на данни на всяка сметка -->
                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                    <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                    <td class="text-center">
                        <!-- Бутон за редактиране на сметка -->
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Редактирай</a>
                        <!-- Бутон за преглед на детайли на сметка -->
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Детайли</a>
                        <!-- Бутон за изтриване на сметка -->
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
