@page  
@model BankUI.Pages.Accounts.IndexModel  

@{  
   // Задаване на заглавие за страницата  
   ViewData["Title"] = "Сметки";  
}  

<h1>Сметки</h1>  

<p>  
   <!-- Линк за създаване на нова сметка -->  
   <a asp-page="Create" class="btn btn-primary">Добави нова сметка</a>  
</p>  
<table class="table">  
   <thead>  
       <tr>  
           <th>  
               <!-- Колона за баланса по сметката -->  
               Басланс по сметката  
           </th>  
           <th>  
               <!-- Колона за клиента на сметката -->  
               Клиент на сметката  
           </th>  
           <th></th>  
       </tr>  
   </thead>  
   <tbody>  
       @foreach (var item in Model.Accounts) {  
           <tr>  
               <td>  
                   <!-- Показване на баланса по сметката -->  
                   @Html.DisplayFor(modelItem => item.Balance)  
               </td>  
               <td>  
                   <!-- Показване на името на клиента -->  
                   @Html.DisplayFor(modelItem => item.Customer.Name)  
               </td>  
               <td>  
                   <!-- Линкове за редактиране, детайли и изтриване на сметката -->  
                   <a asp-page="./Edit" asp-route-id="@item.Id">Редактирай</a> |  
                   <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> |  
                   <a asp-page="./Delete" asp-route-id="@item.Id">Изтрий</a>  
               </td>  
           </tr>  
       }  
   </tbody>  
</table>
